# Site settings

title: Aaron Schaefer
email: yo at aaronschaefer dot com
description: aatron lives. The news of my life has been greatly underreported.
url: "http://aaronschaefer.com"
github_username:  aatron
markdown: redcarpet # kramdown doesn't seem to do code blocks very well but this one does

# Local port # when 'jekyll service' is executed 
port: 4470

# Paths for the tag pages
tag_page_dir: /blog/tag
tag_index_dir: /blog/tags

# Windows 8 Tiles
# ie_frequency: 1440 #1440 is default
# ie_tile_color:
ie_tile_small: /ietemplates/win_small.png
ie_tile_medium: /ietemplates/win_medium.png
ie_tile_wide: /ietemplates/win_wide.png
ie_tile_large: /ietemplates/win_large.png

exclude: [Gemfile,LICENSE,README.md]
permalink: /blog/:year/:month/:day/:title/

gems:
  - jekyll-sitemap