# Site settings

title: Aaron Schaefer
email: yo [at] aaronschaefer [dot] com
description: The news of my life should be greatly underreported.
url: "http://aaronschaefer.com"
github_username:  aatron
markdown: redcarpet # kramdown doesn't seem to do code blocks very well but this one does
source: src

# Local port # when 'jekyll service' is executed 
port: 4470

sass:
    # sass_dir: /src/_sass
    style: compressed

# Paths for the tag pages
tag_page_dir: /blog/tag
tag_index_dir: /blog/tags

# Documentary settings
documentary_layout: 'documentary' 
documentary_ext: md 
documentary_template: documentary
collections:
  documentaries:
    output: true
    permalink: /documentary/:title.html
    # layout: documentary

# Windows 8 Tiles
# ie_frequency: 1440 #1440 is default
# ie_tile_color:
ie_tile_small: /ietemplates/win_small.png
ie_tile_medium: /ietemplates/win_medium.png
ie_tile_wide: /ietemplates/win_wide.png
ie_tile_large: /ietemplates/win_large.png

categories: [navbar]
exclude: [app]
keep_files: [/js/app]
permalink: blog/:year/:month/:day/:title/
baseurl: http://localhost/blog
# baseurl: http://aaronschaefer.com

gems:
  - jekyll-sitemap