<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <!--<header id="header">
  </header>-->
    <!--<h1><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>-->
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-2">
        <div class="">
          <nav>
            <ul>
              <li><a href="{{'/' | prepend: site.baseurl}}/">Home</a></li>
              <li><a href="{{'/blog' | prepend: site.baseurl}}">Blog Posts</a><a class="rss" href="{{ '/feeds/blog.xml' | prepend: site.baseurl }}"><i class="fa fa-rss rss-header"></i></a></li>
              <li><a href="{{'/documentaries' | prepend: site.baseurl}}">Documentaries</a><a class="rss" href="{{ '/feeds/blog.xml' | prepend: site.baseurl }}"><i class="fa fa-rss rss-header"></i></a></li>
              <li><a href="{{'/about' | prepend: site.baseurl}}">About Me</a></li>
            </ul>
            <!--<hr />
            <ul>
              
              <li><a class="rss" href="{{ '/feeds/blog.xml' | prepend: site.baseurl}}">Blog Posts</a><i class="fa fa-rss" aria-hidden="true"></i></li>
              <li><a class="rss" href="{{ '/feeds/documentaries.xml' | prepend: site.baseurl}}">Documentaries</a></li>
            </ul>-->
          </nav>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 ">
        {{ content }}
      </div>
      <div class="col-sm-2 col-md-2">
      </div>
    </div>
  </div>
{% include footer.html %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery.mobilemenu.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>
</body>
</html>