<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <div class="container">
    <div class="row">
      <h1><a href="/" class="no-underline">{{ site.title }}</a>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div id="sidebar">
          <nav>
            <ul>
              <li><a href="{{'/' | prepend: site.baseurl}}/">Home</a></li>
              <li><a href="{{'/blog' | prepend: site.baseurl}}">Blog Posts</a><a class="rss" href="{{ '/feeds/blog.xml' | prepend: site.baseurl }}"><i class="fa fa-rss rss-header"></i></a></li>
              <li><a href="{{'/documentaries' | prepend: site.baseurl}}">Documentaries</a><a class="rss" href="{{ '/feeds/blog.xml' | prepend: site.baseurl }}"><i class="fa fa-rss rss-header"></i></a></li>
              <li><a href="{{'/about' | prepend: site.baseurl}}">About Me</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 ">
        {{ content }}
      </div>
      <div class="col-sm-3 col-md-3 ">
      </div>
    </div>
  </div>
{% include footer.html %}
  
</body>
</html>