@font-face {
  font-family: 'liquid_crystalregular';
    src: url('../assets/fonts/liquidcrystal.woff2') format('woff2'),
         url('../assets/fonts/liquidcrystal.woff') format('woff');
}

@font-face {
  font-family: 'robotoregular';
    src: url('../assets/fonts/roboto.woff2') format('woff2'),
         url('../assets/fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'goodfoot';
    src: url('../assets/fonts/goodfoot.woff2') format('woff2'),
         url('../assets/fonts/goodfoot.woff') format('woff');
}

body {
    font-family: robotoregular;
}

.position-relative {
    position: relative;
}

.list-group-doc {
    min-height: 85px;
}

.list-group {
    position: relative;
    margin: 0px 0px 0px 0px;
    opacity: 0.25;
}

.list-group-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    font-size: 100px;
    margin: -32px 0px 0px -2px;
    z-index: -1;
}

.list-unstyled {
    margin: 0px 0px 0px 0px;
}

.list-item {
    // position: relative;
    margin: 0px 0px 0px 15px;
}

a {
    // margin: 0px 0px 0px 18px;
    text-decoration: none;
}

// .normal-link:active, .normal-link:hover {
//     background: transparent;
// }

a.no-underline:active,
a.no-underline:visited {
    text-decoration: none;
}

// header, nav {
//     text-align: center;
// }


.rss-text {
    color: $yellow !important;
}

.rss-icon {
    margin-left: 10px;
    color: $yellow;
}

.maq-question {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.maq-answer {
    margin: 0px 0px 10px 0px;
    font-style: italic;
}

.hoverThis {
    cursor: pointer;
}

.float-left {
    float: left;
}

h3 {
    color: $yellow;
}

h4 {
    font-weight: bold;
    color: $yellow;
}

h5 {
    font-weight: bold;
    font-style: italic;
    color: $yellow;
}

h6 {
    font-style: italic;
    color: $yellow;
}

// .tag-list {
//     float: left;
// }

// Override Bootstrap
pre {
    border: none;
    background: none;
    padding: 0px;
    color: $base1;
}

.content {
    // padding: 0px;
}

.no-float {
    float: none;
}

// Media queries
.remote-wrapper {
    @media screen and (max-width: $break-large) {
        display: none;
    }
}

.remote-float {
    display: block !important;
    position: fixed !important;
    z-index: 10 !important;
    left: 50%;
    top: 50%;
    margin: -238px 0px 0px -98px;
}

.tags-footer {
    // @media screen and (min-width: $break-medium) {
    //     display: block;
    // }
    // @media screen and (max-width: $break-small) {
    //     display: none;
    // }

    margin-top: -60px;
    z-index: -1;
}

.tags-header {
    @media screen and (max-width: $break-medium) {
        display: none;
    }
    @media screen and (min-width: $break-large) {
        display: block;
    }
}

.remote__power__button2 {
    @extend .remote__power__button;
    position: absolute;
    margin: 10% 0px 0px 10px;

    @media screen and (max-width: $break-medium) {
        display: block;
    }

    @media screen and (min-width: $break-large) {
        display: none;
    }
}

.meta {
    font-style: italic;
}

.post-list {
    list-style: none;
}

.font-strike {
    text-decoration: line-through;
}

.post {
    min-height: 115px;
}

blockquote {
    background-color: $base02;
    font-size: inherit;
}

figure {
    margin: -10px 0px 10px 0px;
}

figure > pre {
    margin: 0px;
}

#codeSnippets figure {
    margin: auto;
}

.nav-tabs {
    border: none;
}

#code-tabs {
    background-color: $base03;
    // margin: 0px 0px 0px 10px;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

.nav-tabs > li > a {
    @include border-top-radius(2px);
    @include border-bottom-radius(0px);
}

.nav-tabs > li > a:focus, 
.nav-tabs > li > a:hover {
    border: none;    
    background-color: $base02;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
    border-bottom: none;    
    border-left: 1px solid $blueGrey;
    border-right: 1px solid $blueGrey;
    border-top: 1px solid $blueGrey;
    background-color: $base02;
    color: $base01;
}
