// .navbar-toggle {
//   position: relative;
//   float: right;
//   margin-right: $navbar-padding-horizontal;
//   padding: 9px 10px;
//   @include navbar-vertical-align(34px);
//   background-color: transparent;
//   background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
//   border: 1px solid transparent;
//   border-radius: $border-radius-base;
// 
//   // We remove the `outline` here, but later compensate by attaching `:hover`
//   // styles to `:focus`.
//   &:focus {
//     outline: 0;
//   }
// 
//   // Bars
//   .icon-bar {
//     display: block;
//     width: 22px;
//     height: 2px;
//     border-radius: 1px;
//   }
//   .icon-bar + .icon-bar {
//     margin-top: 4px;
//   }
// 
//   @media (min-width: $grid-float-breakpoint) {
//     display: block;
//   }
// }

.list-group {
    position: relative;
    min-height: 200px;
    margin: 0px 0px 10px 0px;
}

.list-group-background {
    position: absolute;
    top: 0;
    left: 0;
    margin: 35px 35px 35px 24px;
    border: 0;
    font-size: 200px;
    opacity: 0.25;
    vertical-align: top;
    line-height: 100px;
}