html, body {
	background-color: $base3;
	color: $base0;
}

a, a:visited, a:active {
	color: $cyan;
	border-color: $base2;
}

a:hover {
	background-color: $base2;
	border-color: $base2;
	color: $cyan;
}

h1, h2, h3 {
	color: $orange;
}

h1 a, h1 a:visited, h1 a:active {
	color: $yellow;
}

h1 a:hover {
	background-color: $base2;
	border-color: $base2;
}

article h1 a.anchor {
	color: $cyan;
}

blockquote {
	border-color: $orange;
}

#sidebar a:hover {
	color: $cyan;
	background-color: $base2;
}

#footer {
	border-color: $base2;
}



/*** Pygments ***/
.highlight{
	background-color: $base2;
	color: $base00;
	border: 1px solid $eggShell;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}
.highlight .c { color: $base01 } .highlight .err { color: $base1 } .highlight .g { color: $base1 } .highlight .k { color: $green } .highlight .l { color: $base1 } .highlight .n { color: $base1 } .highlight .o { color: $green } .highlight .x { color: $orange } .highlight .p { color: $base1 } .highlight .cm { color: $base01 } .highlight .cp { color: $green } .highlight .c1 { color: $base01 } .highlight .cs { color: $green } .highlight .gd { color: $cyan } .highlight .ge { color: $base1; font-style: italic } .highlight .gr { color: $red } .highlight .gh { color: $orange } .highlight .gi { color: $green } .highlight .go { color: $base1 } .highlight .gp { color: $base1 } .highlight .gs { color: $base1; font-weight: bold } .highlight .gu { color: $orange } .highlight .gt { color: $base1 } .highlight .kc { color: $orange } .highlight .kd { color: $blue } .highlight .kn { color: $green } .highlight .kp { color: $green } .highlight .kr { color: $blue } .highlight .kt { color: $red } .highlight .ld { color: $base1 } .highlight .m { color: $cyan } .highlight .s { color: $cyan } .highlight .na { color: $base1 } .highlight .nb { color: $yellow } .highlight .nc { color: $blue } .highlight .no { color: $orange } .highlight .nd { color: $blue } .highlight .ni { color: $orange } .highlight .ne { color: $orange } .highlight .nf { color: $blue } .highlight .nl { color: $base1 } .highlight .nn { color: $base1 } .highlight .nx { color: $base1 } .highlight .py { color: $base1 } .highlight .nt { color: $blue } .highlight .nv { color: $blue } .highlight .ow { color: $green } .highlight .w { color: $base1 } .highlight .mf { color: $cyan } .highlight .mh { color: $cyan } .highlight .mi { color: $cyan } .highlight .mo { color: $cyan } .highlight .sb { color: $base01 } .highlight .sc { color: $cyan } .highlight .sd { color: $base1 } .highlight .s2 { color: $cyan } .highlight .se { color: $orange } .highlight .sh { color: $base1 } .highlight .si { color: $cyan } .highlight .sx { color: $cyan } .highlight .sr { color: $red } .highlight .s1 { color: $cyan } .highlight .ss { color: $cyan } .highlight .bp { color: $blue } .highlight .vc { color: $blue } .highlight .vg { color: $blue } .highlight .vi { color: $blue } .highlight .il { color: $cyan } 