html, body {
	background-color: $base3;
	color: $base0;
}

a, a:visited, a:active {
	color: $cyan;
	border-color: $base2;
}

a:hover {
	border-color: $base2;
	color: $cyan;
}

h1, h2, h3 {
	color: $orange;
}

h1 a, h1 a:visited, h1 a:active {
	color: $yellow;
}

h1 a:hover {
	background-color: $base2;
	border-color: $base2;
}

article h1 a.anchor {
	color: $cyan;
}

blockquote {
	border-color: $orange;
}

#sidebar a:hover {
	color: $cyan;
}

#footer {
	border-color: $base2;
}



/*** Pygments ***/
.highlight{
	background-color: $base2;
	color: $base00;
	border: 1px solid $eggShell;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}
	.highlight .c { color: $base01 } 						// Comment
	.highlight .cm { color: $base01 } 						// Comment.Multiline
	.highlight .cp { color: $green } 						// Comment.Preproc
	.highlight .c1 { color: $base01 } 						// Comment.Single 
	.highlight .cs { color: $green } 						// Comment.Special 
	.highlight .err { color: $base1 } 						// Error
	.highlight .k { color: $green } 						// Keyword
	.highlight .o { color: $green } 						// Operator
	.highlight .p { color: $base1 } 						// ?????
	.highlight .ow { color: $green } 						// Operator.Word
	.highlight .g { color: $base1 } 						// Generic????
	.highlight .gd { color: $cyan } 						// Generic.Deleted
// Missing 													// Generic.Deleted.Specific
	.highlight .ge { color: $base1; font-style: italic }  	// Generic.Emph
	.highlight .gr { color: $red } 							// Generic.Error
	.highlight .gh { color: $orange } 						// Generic.Heading
	.highlight .gi { color: $green } 						// Generic.Inserted
// Missing 													// Generic.Inserted.Specific
	.highlight .go { color: $base1 } 						// Generic.Output
	.highlight .gp { color: $base1 } 						// Generic.Prompt
	.highlight .gs { color: $base1; font-weight: bold } 	// Generic.Strong
	.highlight .gu { color: $orange } 						// Generic.Subheading
	.highlight .gt { color: $base1 } 						// Generic.Traceback
	.highlight .kc { color: $orange } 						// Keyword.Constant
	.highlight .kd { color: $blue } 						// Keyword.Declaration
	.highlight .kp { color: $green } 						// Keyword.Pseudo
	.highlight .kr { color: $blue } 						// Keyword.Reserved
	.highlight .kt { color: $red } 							// Keyword.Type
	.highlight .kn { color: $green } 						// ???????
	.highlight .n { color: $base1 } 						// Name
	.highlight .na { color: $base1 } 						// Name.Attribute
	.highlight .nb { color: $yellow } 						// Name.Builtin
	.highlight .nc { color: $blue } 						// Name.Class
	.highlight .no { color: $orange } 						// Name.Constant
	.highlight .ni { color: $orange } 						// Name.Entity
	.highlight .nl { color: $base1 } 						// ????
	.highlight .ne { color: $orange } 						// Name.Exception
	.highlight .nf { color: $blue } 						// Name.Function
	.highlight .nn { color: $base1 } 						// Name.Namespace
	.highlight .nt { color: $blue } 						// Name.Tag
	.highlight .nx { color: $base1 } 						// Name.Variable
	.highlight .nd { color: $blue } 						// ????
	.highlight .bp { color: $blue } 						// Name.Builtin.Pseudo
	.highlight .vc { color: $blue } 						// Name.Variable.Class
	.highlight .vg { color: $blue } 						// Name.Variable.Global
	.highlight .vi { color: $blue } 						// Name.Variable.Instance
	.highlight .nv { color: $blue } 						// Name.Variable
	.highlight .w { color: $base1 } 						// Text.Whitespace
	.highlight .m { color: $cyan } 							// Literal.Number
	.highlight .mf { color: $cyan } 						// Literal.Number.Float
	.highlight .mh { color: $cyan } 						// Literal.Number.Hex
	.highlight .mi { color: $cyan } 						// Literal.Number.Integer
	.highlight .mo { color: $cyan } 						// Literal.Number.Oct
	.highlight .s { color: $cyan } 							// Literal.String
	.highlight .sb { color: $base01 } 						// Literal.String.Backtick
	.highlight .sc { color: $cyan } 						// Literal.String.Char
	.highlight .sd { color: $base1 } 						// Literal.String.Doc
	.highlight .s2 { color: $cyan } 						// Literal.String.Double
	.highlight .se { color: $orange } 						// Literal.String.Escape
	.highlight .sh { color: $base1 } 						// Literal.String.Heredoc
	.highlight .si { color: $cyan } 						// Literal.String.Interpol
	.highlight .sx { color: $cyan } 						// Literal.String.Other
	.highlight .sr { color: $red } 							// Literal.String.Regex
	.highlight .s1 { color: $cyan } 						// Literal.String.Single
	.highlight .ss { color: $cyan } 						// Literal.String.Symbol
	.highlight .il { color: $cyan }  						// Literal.Number.Integer.Long	
	.highlight .py { color: $base1 } 						// ?????
	.highlight .l { color: $base1 } 						// ?????
	.highlight .x { color: $orange } 						// Specific
	.highlight .ld { color: $base1 } 						// ?????