
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Accents
$redAccent:         #d14;
$darkRed:           #aa0000;
$magenta:           #d33682;
$purple:            #990073;
$darkPurple:        #800080;
$cyanAccent:        #009999;
$lightGrey:         #999999;
$greyAccent:        #bbbbbb;
$turqoise:          #008080;
$darkGrey:          #555555;
$darkGreyAccent:    #372c34;
$brownish:          #4d2d33;
$greenAccent:       #355720;
$lightGreyAccent:   #888888;
$blueGrey:          #2d6472;
$eggShell:          #d6ceb6;