---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>I write <a href="https://github.com/aatron">code</a>, use <a href="{{ '/softwaretools' | prepend: site.baseurl }}">software tools</a>, watch <a href="{{ '/documentaries' | prepend: site.baseurl }}">documentaries</a>, and want to be a better writer. Hopefully I don't regress.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label><a href="{{ /feeds/blog.xml | prepend: site.baseurl }}"><i class="fa fa-rss rss-header"></i></a>Read these posts</label>

            <ul class="post-list">
                {% assign sortedPosts = site.posts | sort "date" | reverse %}
                {% for post in sortedPosts | limit:10 %}
                <li>
                    <time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%b %-d, %Y" }}</time>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <p class="rss-subscribe"><a href="{{ '/blog' | prepend: site.baseurl }}">More...</a></p>
        </div>
  
        <div class="col-xs-12 col-sm-6">
            <label><a href="{{ /feeds/documentaries.xml | prepend: site.baseurl }}"><i class="fa fa-rss rss-header"></i></a>Watch these documentaries</label>

            <ul class="post-list">
                {% assign sortedDocs = site.documentaries | sort "date" | reverse %}
                {% for doc in sortedDocs | limit:10 %}
                <li>
                    <time datetime="{{ doc.date | date_to_xmlschema }}" pubdate>{{ doc.date | date: "%b %-d, %Y" }}</time>
                    <a class="doc-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <p class="rss-subscribe"><a href="{{ '/documentaries' | prepend: site.baseurl }}">More...</a></p>
         </div>
  </div>
</div>

<!--<div>
    {% tag_cloud %}
</div>-->

<!--<div class="searchBox">
    {% ddg_search_form site:aaronschaefer.com prefill:Search %}
</div>-->